.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: #121212;
  color: #f0f0f0;
  min-height: 100vh;
  text-align: center;
}

.header {
  font-size: 3em;
  color: #f8b400;
  margin-bottom: 40px;
  letter-spacing: 3px;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
}


.cont {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  
  gap: 30px;
  width: 100%;
  max-width: 1200px;
}

.cont1 {
  background-color: #1c3d5a;
  padding: 25px;
  border-radius: 15px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s, box-shadow 0.3s;
}

.cont1:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgba(255, 255, 255, 0.3);
}


.cont1 h2 {
  font-size: 2em;
  margin-bottom: 10px;
  color: #f8b400;
}

.cont1 p {
  font-size: 1.1em;
  margin: 10px 0;
  color: #ccc;
}

.button {
  margin-top: 20px;
  padding: 12px 30px;
  font-size: 1.2em;
  color: #121212;
  background-color: #f8b400;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;
}

.button:hover {
  background-color: #ffa726;
  transform: translateY(-3px);
  box-shadow: 0 6px 12px rgba(255, 165, 0, 0.2);
}

@media (max-width: 1024px) {
  .cont {
    grid-template-columns: 1fr;
  }

  .header {
    font-size: 2.5em;
  }

  .cont1 {
    padding: 20px;
  }

  .button {
    font-size: 1.1em;
  }
}

@media (max-width: 768px) {
  .cont1 {
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
  }

  .header {
    font-size: 2em;
  }

  .button {
    font-size: 1em;
    padding: 10px 25px;
  }
}

@media (max-width: 480px) {
  .header {
    font-size: 1.8em;
  }

  .cont1 {
    padding: 15px;
  }

  .button {
    font-size: 0.9em;
    padding: 8px 20px;
  }
}
